MyWeather/Service References/MoviesRef/Movie.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MoviesMethod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="textbox" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoviesMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MoviesMethodResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MoviesMethodSoapIn">
    <wsdl:part name="parameters" element="tns:MoviesMethod" />
  </wsdl:message>
  <wsdl:message name="MoviesMethodSoapOut">
    <wsdl:part name="parameters" element="tns:MoviesMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="MovieSoap">
    <wsdl:operation name="MoviesMethod">
      <wsdl:input message="tns:MoviesMethodSoapIn" />
      <wsdl:output message="tns:MoviesMethodSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MovieSoap" type="tns:MovieSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MoviesMethod">
      <soap:operation soapAction="http://tempuri.org/MoviesMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MovieSoap12" type="tns:MovieSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MoviesMethod">
      <soap12:operation soapAction="http://tempuri.org/MoviesMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Movie">
    <wsdl:port name="MovieSoap" binding="tns:MovieSoap">
      <soap:address location="http://localhost:45230/Movie.asmx" />
    </wsdl:port>
    <wsdl:port name="MovieSoap12" binding="tns:MovieSoap12">
      <soap12:address location="http://localhost:45230/Movie.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>