MyWeather/Service References/add2numbers/Adderar2Tal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PlusaIhop">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tal1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tal2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlusaIhopResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PlusaIhopResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PlusaIhopSoapIn">
    <wsdl:part name="parameters" element="tns:PlusaIhop" />
  </wsdl:message>
  <wsdl:message name="PlusaIhopSoapOut">
    <wsdl:part name="parameters" element="tns:PlusaIhopResponse" />
  </wsdl:message>
  <wsdl:portType name="Adderar2TalSoap">
    <wsdl:operation name="PlusaIhop">
      <wsdl:input message="tns:PlusaIhopSoapIn" />
      <wsdl:output message="tns:PlusaIhopSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Adderar2TalSoap" type="tns:Adderar2TalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PlusaIhop">
      <soap:operation soapAction="http://tempuri.org/PlusaIhop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Adderar2TalSoap12" type="tns:Adderar2TalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PlusaIhop">
      <soap12:operation soapAction="http://tempuri.org/PlusaIhop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Adderar2Tal">
    <wsdl:port name="Adderar2TalSoap" binding="tns:Adderar2TalSoap">
      <soap:address location="http://localhost:45230/Adderar2Tal.asmx" />
    </wsdl:port>
    <wsdl:port name="Adderar2TalSoap12" binding="tns:Adderar2TalSoap12">
      <soap12:address location="http://localhost:45230/Adderar2Tal.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>