MyWeather/Service References/SupTvaTalRef/SupTvaTal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SupTvatalMetod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tal1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tal2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SupTvatalMetodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SupTvatalMetodResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SupTvatalMetodSoapIn">
    <wsdl:part name="parameters" element="tns:SupTvatalMetod" />
  </wsdl:message>
  <wsdl:message name="SupTvatalMetodSoapOut">
    <wsdl:part name="parameters" element="tns:SupTvatalMetodResponse" />
  </wsdl:message>
  <wsdl:portType name="SupTvaTalSoap">
    <wsdl:operation name="SupTvatalMetod">
      <wsdl:input message="tns:SupTvatalMetodSoapIn" />
      <wsdl:output message="tns:SupTvatalMetodSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SupTvaTalSoap" type="tns:SupTvaTalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SupTvatalMetod">
      <soap:operation soapAction="http://tempuri.org/SupTvatalMetod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SupTvaTalSoap12" type="tns:SupTvaTalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SupTvatalMetod">
      <soap12:operation soapAction="http://tempuri.org/SupTvatalMetod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SupTvaTal">
    <wsdl:port name="SupTvaTalSoap" binding="tns:SupTvaTalSoap">
      <soap:address location="http://localhost:45230/SupTvaTal.asmx" />
    </wsdl:port>
    <wsdl:port name="SupTvaTalSoap12" binding="tns:SupTvaTalSoap12">
      <soap12:address location="http://localhost:45230/SupTvaTal.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>