MyWeather/Service References/AdderarTreTalRef/AdderaTreTal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AdderaTreTalMetod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tal1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tal2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tal3" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdderaTreTalMetodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdderaTreTalMetodResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AdderaTreTalMetodSoapIn">
    <wsdl:part name="parameters" element="tns:AdderaTreTalMetod" />
  </wsdl:message>
  <wsdl:message name="AdderaTreTalMetodSoapOut">
    <wsdl:part name="parameters" element="tns:AdderaTreTalMetodResponse" />
  </wsdl:message>
  <wsdl:portType name="AdderaTreTalSoap">
    <wsdl:operation name="AdderaTreTalMetod">
      <wsdl:input message="tns:AdderaTreTalMetodSoapIn" />
      <wsdl:output message="tns:AdderaTreTalMetodSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdderaTreTalSoap" type="tns:AdderaTreTalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdderaTreTalMetod">
      <soap:operation soapAction="http://tempuri.org/AdderaTreTalMetod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdderaTreTalSoap12" type="tns:AdderaTreTalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdderaTreTalMetod">
      <soap12:operation soapAction="http://tempuri.org/AdderaTreTalMetod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdderaTreTal">
    <wsdl:port name="AdderaTreTalSoap" binding="tns:AdderaTreTalSoap">
      <soap:address location="http://localhost:45230/AdderaTreTal.asmx" />
    </wsdl:port>
    <wsdl:port name="AdderaTreTalSoap12" binding="tns:AdderaTreTalSoap12">
      <soap12:address location="http://localhost:45230/AdderaTreTal.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>